@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@600&family=Red+Rose:wght@700&display=swap');

:root{
    --color1:white;
    --color2:rgb(218, 211, 211);
    --color3:rgb(10, 10, 10);
    --color4:rgba(73, 143, 110, 0.685);
    --font1:'Athiti', sans-serif;
    --font2:'Red Rose', cursive;
}

*{
    margin:0;
    padding:0;
    box-shadow: border-box;
    font-family: var(--font1);
}

button{
    width:150px;
    height: 45px;
    background: var(--color4);
    outline: none;
    border: none;
    color: var(--color1);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.page1{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--color1);
    background: rgba(84, 93, 105, 0.89);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    width: 80%;
}
.list-items{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    color: var(--color2);
}
.list-items .list-item{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 100;
    margin-left: 50px;
    cursor: pointer;
}
.list-items .list-item-talk{
    margin-left: 100px;
    border: 1px solid var(--color2);
    color: var(--color1);
    padding: 12px 45px;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto 50px auto;
    width: 70%;
}
.hero-left{
    width: 40%;
}
.hero-left img{
    width: 100%;
    height: 30vw;
    object-fit: cover;
}
.hero-right{
    width: 45%;
}
.hero-right h1{
    font-family: var(--font1);
    font-size:3.3vw;
    line-height: 3.5vw;
}
.hero-right p{
    color: var(--color2);
    margin: 40px 0px;
}
.hero-right form{
    box-sizing: content-box;
    width: fit-content;
    background: var(--color1);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-right form i{
    color: var(--color3);
    font-size:1.7vw;
    padding:0px 10px;
}
.hero-right form input{
    margin: 0px 10px;
    height: 45px;
    width: 13vw;
    font-family: sans-serif;
    outline: none;
    border: none;
}

.page2{
    width: 70%;
    margin: 100px auto;
}
.page2 h1{
    text-align: center;
    font-size: 2vw;
    line-height: 2.5vw;
}
.page2 .data-section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0px;
    text-align: center;
}

.project-data .data-num{
    font-size: 2.2vw;
    font-weight: 800;
}
.project-data .data-role{
    font-size: .9vw;
    font-family: sans-serif;
    /* font-weight: 100; */
}
.page2-img{
    width: 100%;
}
.page2-img img{
    width: 100%;
    height: 35vw;
    object-fit: cover;
}

.page3{
    width: 70%;
    margin: 100px auto;
}
.page3 h1{
    text-align: center;
    font-size: 2vw;
    line-height: 2.5vw;
}

.page3-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* grid-auto-rows: repeat(3,30vw); */
    gap: 50px;
    margin: 50px auto;
}
.cont-inner{
    width: 100%;
    height: 25vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cont-inner img{
    width: 100%;
    height: 25vw;
    object-fit: cover;
}
.cont-inner:nth-child(3){
    height: 40vw;
}
.cont-inner:nth-child(3) img{
    height: 40vw;
}
.cont-inner:nth-child(4){
    height: 40vw;
}
.cont-inner h2{
    font-size: 2vw;
    line-height: 2.2vw;
}
.cont-inner p{
    color: rgb(150, 139, 139);
    font-family: sans-serif;
    margin: 30px 0px;
    line-height: 1.5vw;
}

.page4{
    width: 70%;
    margin: 50px auto;
}
.pg4-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pg4-top h2{
    font-size: 2vw;
    line-height: 2.5vw;
}
.pg4-top p{
    color: rgb(150, 139, 139);
    font-family: sans-serif;
    line-height: 1.5vw;
}
.pg4-middle{
    margin: 50px 0px;
    width: 100%;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-auto-rows: 35vw;
    gap: 50px;
}
.profile-card h4{
    margin: 15px 0px;
    font-size: 1.3vw;
}
.profile-card p{
    color: rgb(150, 139, 139);
    font-family: sans-serif;
    line-height: 1.3vw;
    font-size: .9vw;
}
.pg4-middle .card-image img{
    width: 100%;
    height: 27vw;
}
.pg-4-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background: rgb(4, 5, 7);
    width: 100%;
    margin-top:100px;
    color: var(--color1);
    font-family: sans-serif;
}
.footer-nav{
    display: flex;
    width: 70%;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
    border-bottom: 1px solid rgba(190, 184, 184, 0.493);
}
.footer-nav .social-links{
    display: flex;
    align-items: center;
}
.social-links .social-link{
    margin-left: 30px;
    width: 50px;
    height: 50px;
    background: rgba(190, 184, 184, 0.493);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin: 0px auto;
    padding: 50px 0px 100px 0px;
}
.footer-bottom ul{
    list-style: none;
}
.footer-bottom ul li{
    font-family: sans-serif;
    margin: 20px 0px;
    font-weight: lighter;
    font-size: 14px;
    color: rgba(190, 184, 184, 0.493);
}
.footer-bottom ul li:first-child{
    font-size: 15px;
    color: var(--color1);
}